# Explore Company Records

**Author:** Hai Ran Zheng

**Date:** April 18th, 2025

**Description:** Look into possible Data Quality issues for web crawled data

## Set Up Packages and Paths

In [235]:
import sys
import os
root_path = os.path.dirname(os.path.abspath(os.curdir))
sys.path.insert(0, root_path)
dataset_path = os.path.join(root_path, "output")

In [236]:
# Load DataFrame
import polars as pl
df = pl.read_ndjson(os.path.join(dataset_path, "company_records.jsonl"))

## Titles that don't start with X

In [237]:
len(df)

216

In [238]:
len(df.filter(
    pl.col("TITLE").list.get(0).str.to_lowercase().str.starts_with("x")
))

196

Around 20 companies whose title doesn't start with x, but is returned from query on the webapp

In [104]:
df.filter(
    ~pl.col("TITLE").list.get(0).str.to_lowercase().str.starts_with("x")
).head()

shape: (5, 14)
┌────────────┬────────────┬────────┬────────────┬───┬────────────┬────────────┬────────┬───────────┐
│ SORT_INDEX ┆ TITLE      ┆ ID     ┆ FILING_DAT ┆ … ┆ CAN_ALWAYS ┆ CAN_FILE_R ┆ ID_key ┆ DRAWER_DE │
│ ---        ┆ ---        ┆ ---    ┆ E          ┆   ┆ _FILE_AR   ┆ EINSTATEME ┆ ---    ┆ TAIL_LIST │
│ i64        ┆ list[str]  ┆ i64    ┆ ---        ┆   ┆ ---        ┆ NT         ┆ str    ┆ ---       │
│            ┆            ┆        ┆ str        ┆   ┆ bool       ┆ ---        ┆        ┆ list[stru │
│            ┆            ┆        ┆            ┆   ┆            ┆ bool       ┆        ┆ ct[5]]    │
╞════════════╪════════════╪════════╪════════════╪═══╪════════════╪════════════╪════════╪═══════════╡
│ 0          ┆ ["Accurate ┆ 171478 ┆ 09/24/2018 ┆ … ┆ false      ┆ false      ┆ 171478 ┆ [{"Filing │
│            ┆ INSPEX,    ┆        ┆            ┆   ┆            ┆            ┆        ┆ Type","Li │
│            ┆ LLC",      ┆        ┆            ┆   ┆            ┆            ┆        ┆ mited     │
│            ┆ "Limi…     ┆        ┆            ┆   ┆            ┆            ┆        ┆ Liabi…    │
│ 19         ┆ ["RXO Last ┆ 90563  ┆ 01/31/2008 ┆ … ┆ true       ┆ false      ┆ 90563  ┆ [{"Filing │
│            ┆ Mile,      ┆        ┆            ┆   ┆            ┆            ┆        ┆ Type","Co │
│            ┆ Inc.",     ┆        ┆            ┆   ┆            ┆            ┆        ┆ rporation │
│            ┆ "Corpo…    ┆        ┆            ┆   ┆            ┆            ┆        ┆ -…        │
│ 16         ┆ ["Miller   ┆ 153110 ┆ 04/25/2016 ┆ … ┆ false      ┆ false      ┆ 153110 ┆ [{"Filing │
│            ┆ Undergroun ┆        ┆            ┆   ┆            ┆            ┆        ┆ Type","Li │
│            ┆ d, LLC",   ┆        ┆            ┆   ┆            ┆            ┆        ┆ mited     │
│            ┆ "L…        ┆        ┆            ┆   ┆            ┆            ┆        ┆ Liabi…    │
│ 15         ┆ ["MCKESSON ┆ 31989  ┆ 04/22/1991 ┆ … ┆ true       ┆ false      ┆ 31989  ┆ [{"Filing │
│            ┆ MEDICAL-SU ┆        ┆            ┆   ┆            ┆            ┆        ┆ Type","Co │
│            ┆ RGICAL ME… ┆        ┆            ┆   ┆            ┆            ┆        ┆ rporation │
│            ┆            ┆        ┆            ┆   ┆            ┆            ┆        ┆ -…        │
│ 18         ┆ ["RXO      ┆ 337397 ┆ 06/10/2022 ┆ … ┆ false      ┆ false      ┆ 337397 ┆ [{"Filing │
│            ┆ Corporate  ┆        ┆            ┆   ┆            ┆            ┆        ┆ Type","Li │
│            ┆ Solutions, ┆        ┆            ┆   ┆            ┆            ┆        ┆ mited     │
│            ┆ LLC…       ┆        ┆            ┆   ┆            ┆            ┆        ┆ Liabi…    │
└────────────┴────────────┴────────┴────────────┴───┴────────────┴────────────┴────────┴───────────┘

## Remove Duplicates

In [ ]:
# Since title is stored in array, let's move them to their individual dataframe columns
df = df.with_columns(
    COMPANY_TITLE=pl.col("TITLE").list[0],
    COMPANY_TYPE=pl.col("TITLE").list[1]
)

In [107]:
duplicated_company_titles = df.filter(pl.col("COMPANY_TITLE").is_duplicated())

In [108]:
duplicated_company_titles.sort("COMPANY_TITLE").head(10)

shape: (0, 16)
┌────────────┬───────────┬─────┬─────────────┬───┬────────┬─────────────┬─────────────┬────────────┐
│ SORT_INDEX ┆ TITLE     ┆ ID  ┆ FILING_DATE ┆ … ┆ ID_key ┆ DRAWER_DETA ┆ COMPANY_TIT ┆ COMPANY_TY │
│ ---        ┆ ---       ┆ --- ┆ ---         ┆   ┆ ---    ┆ IL_LIST     ┆ LE          ┆ PE         │
│ i64        ┆ list[str] ┆ i64 ┆ str         ┆   ┆ str    ┆ ---         ┆ ---         ┆ ---        │
│            ┆           ┆     ┆             ┆   ┆        ┆ list[struct ┆ str         ┆ str        │
│            ┆           ┆     ┆             ┆   ┆        ┆ [5]]        ┆             ┆            │
╞════════════╪═══════════╪═════╪═════════════╪═══╪════════╪═════════════╪═════════════╪════════════╡
└────────────┴───────────┴─────┴─────────────┴───┴────────┴─────────────┴─────────────┴────────────┘

In [109]:
len(duplicated_company_titles.unique("COMPANY_TITLE"))

0

No COMPANY_TITLE duplicates found, good

## Investigate Missing Graph Relationships

From logs, I noticed 2 businesses were not capturing any graph relationships from our expected columns: OWNER_NAME, COMMERCIAL_REGISTERED_AGENT, OR REGISTERED_AGENT. I discovered the a new field OWNERS need to be captured, let's see how this column works.

We need to move DRAWER_DETAIL_LIST into our columns first

In [110]:
expanded = (
    df.explode("DRAWER_DETAIL_LIST")
      .unnest("DRAWER_DETAIL_LIST")
)

In [111]:
expanded.head()

shape: (5, 20)
┌────────────┬────────────┬────────┬────────────┬───┬───────────┬──────────┬───────────┬───────────┐
│ SORT_INDEX ┆ TITLE      ┆ ID     ┆ FILING_DAT ┆ … ┆ LINKLABEL ┆ ALERT_YN ┆ COMPANY_T ┆ COMPANY_T │
│ ---        ┆ ---        ┆ ---    ┆ E          ┆   ┆ ---       ┆ ---      ┆ ITLE      ┆ YPE       │
│ i64        ┆ list[str]  ┆ i64    ┆ ---        ┆   ┆ null      ┆ bool     ┆ ---       ┆ ---       │
│            ┆            ┆        ┆ str        ┆   ┆           ┆          ┆ str       ┆ str       │
╞════════════╪════════════╪════════╪════════════╪═══╪═══════════╪══════════╪═══════════╪═══════════╡
│ 0          ┆ ["Accurate ┆ 171478 ┆ 09/24/2018 ┆ … ┆ null      ┆ false    ┆ Accurate  ┆ Limited   │
│            ┆ INSPEX,    ┆        ┆            ┆   ┆           ┆          ┆ INSPEX,   ┆ Liability │
│            ┆ LLC",      ┆        ┆            ┆   ┆           ┆          ┆ LLC       ┆ Company - │
│            ┆ "Limi…     ┆        ┆            ┆   ┆           ┆          ┆           ┆ Bu…       │
│ 0          ┆ ["Accurate ┆ 171478 ┆ 09/24/2018 ┆ … ┆ null      ┆ false    ┆ Accurate  ┆ Limited   │
│            ┆ INSPEX,    ┆        ┆            ┆   ┆           ┆          ┆ INSPEX,   ┆ Liability │
│            ┆ LLC",      ┆        ┆            ┆   ┆           ┆          ┆ LLC       ┆ Company - │
│            ┆ "Limi…     ┆        ┆            ┆   ┆           ┆          ┆           ┆ Bu…       │
│ 0          ┆ ["Accurate ┆ 171478 ┆ 09/24/2018 ┆ … ┆ null      ┆ false    ┆ Accurate  ┆ Limited   │
│            ┆ INSPEX,    ┆        ┆            ┆   ┆           ┆          ┆ INSPEX,   ┆ Liability │
│            ┆ LLC",      ┆        ┆            ┆   ┆           ┆          ┆ LLC       ┆ Company - │
│            ┆ "Limi…     ┆        ┆            ┆   ┆           ┆          ┆           ┆ Bu…       │
│ 0          ┆ ["Accurate ┆ 171478 ┆ 09/24/2018 ┆ … ┆ null      ┆ false    ┆ Accurate  ┆ Limited   │
│            ┆ INSPEX,    ┆        ┆            ┆   ┆           ┆          ┆ INSPEX,   ┆ Liability │
│            ┆ LLC",      ┆        ┆            ┆   ┆           ┆          ┆ LLC       ┆ Company - │
│            ┆ "Limi…     ┆        ┆            ┆   ┆           ┆          ┆           ┆ Bu…       │
│ 0          ┆ ["Accurate ┆ 171478 ┆ 09/24/2018 ┆ … ┆ null      ┆ false    ┆ Accurate  ┆ Limited   │
│            ┆ INSPEX,    ┆        ┆            ┆   ┆           ┆          ┆ INSPEX,   ┆ Liability │
│            ┆ LLC",      ┆        ┆            ┆   ┆           ┆          ┆ LLC       ┆ Company - │
│            ┆ "Limi…     ┆        ┆            ┆   ┆           ┆          ┆           ┆ Bu…       │
└────────────┴────────────┴────────┴────────────┴───┴───────────┴──────────┴───────────┴───────────┘

In [112]:
businesses_expanded_details = expanded.pivot(
    "LABEL",
    values="VALUE",
    index="TITLE"
)

In [139]:
businesses_expanded_details.head()

shape: (5, 22)
┌───────────────┬───────────────┬────────┬───────────────┬───┬────────┬──────┬───────────┬─────────┐
│ TITLE         ┆ Filing Type   ┆ Status ┆ Standing - AR ┆ … ┆ Owners ┆      ┆ Delayed   ┆ Filing  │
│ ---           ┆ ---           ┆ ---    ┆ ---           ┆   ┆ ---    ┆ ---  ┆ Effective ┆ Subtype │
│ list[str]     ┆ str           ┆ str    ┆ str           ┆   ┆ str    ┆ str  ┆ Date      ┆ ---     │
│               ┆               ┆        ┆               ┆   ┆        ┆      ┆ ---       ┆ str     │
│               ┆               ┆        ┆               ┆   ┆        ┆      ┆ str       ┆         │
╞═══════════════╪═══════════════╪════════╪═══════════════╪═══╪════════╪══════╪═══════════╪═════════╡
│ ["Accurate    ┆ Limited       ┆ Active ┆ Good          ┆ … ┆ null   ┆ null ┆ null      ┆ null    │
│ INSPEX, LLC", ┆ Liability     ┆        ┆               ┆   ┆        ┆      ┆           ┆         │
│ "Limi…        ┆ Company - Bu… ┆        ┆               ┆   ┆        ┆      ┆           ┆         │
│ ["XCALIBER    ┆ Limited       ┆ Active ┆ Good          ┆ … ┆ null   ┆ null ┆ null      ┆ null    │
│ INTERNATIONAL ┆ Liability     ┆        ┆               ┆   ┆        ┆      ┆           ┆         │
│ LTD.,…        ┆ Company - Bu… ┆        ┆               ┆   ┆        ┆      ┆           ┆         │
│ ["Xavier      ┆ Limited       ┆ Active ┆ Good          ┆ … ┆ null   ┆ null ┆ null      ┆ null    │
│ Collections   ┆ Liability     ┆        ┆               ┆   ┆        ┆      ┆           ┆         │
│ LLC", "Li…    ┆ Company - Bu… ┆        ┆               ┆   ┆        ┆      ┆           ┆         │
│ ["Xavier      ┆ Trade Name    ┆ Active ┆ null          ┆ … ┆ null   ┆ null ┆ null      ┆ null    │
│ Taylor Constr ┆               ┆        ┆               ┆   ┆        ┆      ┆           ┆         │
│ uction",…     ┆               ┆        ┆               ┆   ┆        ┆      ┆           ┆         │
│ ["XAPIC       ┆ Trade Name    ┆ Active ┆ null          ┆ … ┆ null   ┆ null ┆ null      ┆ null    │
│ STUDIOS",     ┆               ┆        ┆               ┆   ┆        ┆      ┆           ┆         │
│ "Trade Name"… ┆               ┆        ┆               ┆   ┆        ┆      ┆           ┆         │
└───────────────┴───────────────┴────────┴───────────────┴───┴────────┴──────┴───────────┴─────────┘

Now we can finally look at how Owners is structured

##

In [114]:
businesses_expanded_details.select(
    pl.col("Owners")
).head()

shape: (5, 1)
┌────────┐
│ Owners │
│ ---    │
│ str    │
╞════════╡
│ null   │
│ null   │
│ null   │
│ null   │
│ null   │
└────────┘

In [115]:
businesses_expanded_details.filter(
    pl.col("Owners").is_not_null()
)

shape: (2, 22)
┌────────────┬────────┬────────┬────────────┬───┬────────────┬────────────┬────────────┬───────────┐
│ TITLE      ┆ Filing ┆ Status ┆ Standing - ┆ … ┆ Owners     ┆            ┆ Delayed    ┆ Filing    │
│ ---        ┆ Type   ┆ ---    ┆ AR         ┆   ┆ ---        ┆ ---        ┆ Effective  ┆ Subtype   │
│ list[str]  ┆ ---    ┆ str    ┆ ---        ┆   ┆ str        ┆ str        ┆ Date       ┆ ---       │
│            ┆ str    ┆        ┆ str        ┆   ┆            ┆            ┆ ---        ┆ str       │
│            ┆        ┆        ┆            ┆   ┆            ┆            ┆ str        ┆           │
╞════════════╪════════╪════════╪════════════╪═══╪════════════╪════════════╪════════════╪═══════════╡
│ ["XTREME   ┆ Trade  ┆ Active ┆ null       ┆ … ┆ CRAIG      ┆ AMANDA KAY ┆ null       ┆ null      │
│ SIGNS &    ┆ Name   ┆        ┆            ┆   ┆ NICHOLAS   ┆ THOMAS     ┆            ┆           │
│ GRAPHIX",  ┆        ┆        ┆            ┆   ┆ THOMAS     ┆ 8482       ┆            ┆           │
│ "Tr…       ┆        ┆        ┆            ┆   ┆ 8482 HIG…  ┆ HIGHWAY…   ┆            ┆           │
│ ["XL       ┆ Trade  ┆ Active ┆ null       ┆ … ┆ Corey K    ┆ Cindy J    ┆ null       ┆ null      │
│ Farms",    ┆ Name   ┆        ┆            ┆   ┆ Getzlaff   ┆ Getzlaff   ┆            ┆           │
│ "Trade     ┆        ┆        ┆            ┆   ┆ 14079 41ST ┆ 14079 41ST ┆            ┆           │
│ Name"]     ┆        ┆        ┆            ┆   ┆ ST…        ┆ ST…        ┆            ┆           │
└────────────┴────────┴────────┴────────────┴───┴────────────┴────────────┴────────────┴───────────┘

In the drawer details array of dicts, dicts with "Owners" labels are typically followed by dicts with empty string labels, which by design, allows API data to return multiple owners.

## Check Company Title

In [119]:
df.select(
    pl.col("COMPANY_TITLE")
)

shape: (216, 1)
┌─────────────────────────────────┐
│ COMPANY_TITLE                   │
│ ---                             │
│ str                             │
╞═════════════════════════════════╡
│ Accurate INSPEX, LLC            │
│ XCALIBER INTERNATIONAL LTD., L… │
│ Xavier Collections LLC          │
│ Xavier Taylor Construction      │
│ XAPIC STUDIOS                   │
│ …                               │
│ CONDUENT HR SERVICES, LLC       │
│ AKITA EQUIPMENT CORP.           │
│ ATOS IT OUTSOURCING SERVICES, … │
│ AKITA DRILLING USA CORP.        │
│ CONDUENT STATE HEALTHCARE, LLC  │
└─────────────────────────────────┘

In [120]:
df.select(
    pl.col("COMPANY_TITLE")
).unique()

shape: (216, 1)
┌─────────────────────────────────┐
│ COMPANY_TITLE                   │
│ ---                             │
│ str                             │
╞═════════════════════════════════╡
│ XCMG America Financial LLC      │
│ XCS Pros, LLC                   │
│ CONDUENT BUSINESS SERVICES, LL… │
│ Xquisite Construction LLC       │
│ XCELL DRIVING SCHOOL LLP        │
│ …                               │
│ X-TREME OUTFITTERS              │
│ X-treme Detailing               │
│ XSM ATM Services LLC            │
│ XCEL ENERGY SERVICES INC.       │
│ XETA TECHNOLOGIES, INC.         │
└─────────────────────────────────┘

In [138]:
df.select(
    (pl.col("COMPANY_TITLE").str.to_uppercase() == pl.col("COMPANY_TITLE")).alias("IS_ALL_UPPERCASE")
).group_by("IS_ALL_UPPERCASE").len()

shape: (2, 2)
┌──────────────────┬─────┐
│ IS_ALL_UPPERCASE ┆ len │
│ ---              ┆ --- │
│ bool             ┆ u32 │
╞══════════════════╪═════╡
│ false            ┆ 115 │
│ true             ┆ 101 │
└──────────────────┴─────┘

Half company titles are upper case, half are not.

## Check Relationships

interested_labels = (
            "COMMERCIAL_REGISTERED_AGENT",
            "REGISTERED_AGENT",
            "OWNER_NAME",
            "OWNERS",
        )

In [196]:
interested_labels = (
    "Commercial Registered Agent",
    "Registered Agent",
    "Owner Name",
    "Owners",
    ""
)

In [197]:
# businesses_expanded_details.columns = column.upper for column businesses_expanded_details.columns

In [198]:
businesses_graph_details = businesses_expanded_details.select(
    interested_labels
)

In [199]:
businesses_graph_details.head()

shape: (5, 5)
┌─────────────────────────────┬──────────────────┬────────────────────┬────────┬──────┐
│ Commercial Registered Agent ┆ Registered Agent ┆ Owner Name         ┆ Owners ┆      │
│ ---                         ┆ ---              ┆ ---                ┆ ---    ┆ ---  │
│ str                         ┆ str              ┆ str                ┆ str    ┆ str  │
╞═════════════════════════════╪══════════════════╪════════════════════╪════════╪══════╡
│ COGENCY GLOBAL INC.         ┆ null             ┆ null               ┆ null   ┆ null │
│ 120 W SWEE…                 ┆                  ┆                    ┆        ┆      │
│ CORPORATION SERVICE COMPANY ┆ null             ┆ null               ┆ null   ┆ null │
│ 41…                         ┆                  ┆                    ┆        ┆      │
│ null                        ┆ KORTO C KOLLIE   ┆ null               ┆ null   ┆ null │
│                             ┆ 835 34TH AVE E … ┆                    ┆        ┆      │
│ null                        ┆ null             ┆ Xavier G Taylor    ┆ null   ┆ null │
│ null                        ┆ null             ┆ PATRICIA A ROGALLA ┆ null   ┆ null │
└─────────────────────────────┴──────────────────┴────────────────────┴────────┴──────┘

In [203]:
stacked = businesses_graph_details.melt().select("value")

C:\Users\harri\AppData\Local\Temp\ipykernel_11476\1333292206.py:1: DeprecationWarning: `DataFrame.melt` is deprecated. Use `unpivot` instead, with `index` instead of `id_vars` and `on` instead of `value_vars`
  stacked = businesses_graph_details.melt().select("value")

In [201]:
len(businesses_graph_details)

216

In [205]:
assert len(businesses_graph_details) * 5 == len(stacked)

In [206]:
stacked = stacked.filter(
    pl.col("value").is_not_null()
)

In [207]:
stacked.head()

shape: (5, 1)
┌─────────────────────────────┐
│ value                       │
│ ---                         │
│ str                         │
╞═════════════════════════════╡
│ COGENCY GLOBAL INC.         │
│ 120 W SWEE…                 │
│ CORPORATION SERVICE COMPANY │
│ 41…                         │
│ CORPORATION SERVICE COMPANY │
│ 41…                         │
│ Registered Agents Inc       │
│ 3003 32N…                   │
│ CORPORATION SERVICE COMPANY │
│ 41…                         │
└─────────────────────────────┘

I don't want to analysis the columns individually for now, I just want to get the overall vibe of their format. If \n exist all the time or not.

In [208]:
stacked.select(
    pl.col("value").str.contains("\n").alias("has_n")
).group_by("has_n").len()

shape: (2, 2)
┌───────┬─────┐
│ has_n ┆ len │
│ ---   ┆ --- │
│ bool  ┆ u32 │
╞═══════╪═════╡
│ true  ┆ 177 │
│ false ┆ 41  │
└───────┴─────┘

In [209]:
arr = stacked.filter(
    ~pl.col("value").str.contains("\n").alias("has_n")
).to_numpy().tolist()

In [210]:
arr[10:20]

[['Xiomara A. Uribe, Ecaterina M. Quintana'],
 ['Scott A Kraft'],
 ['Travis c Toepke'],
 ['LIFE LINE TECHNOLOGIES, LLC'],
 ['KARLGAARD ENTERPRISES, LLC'],
 ['Dustin R Smith'],
 ['Christopher Tegwe'],
 ['MONEYDART GLOBAL SERVICES INC.'],
 ['XPT Partners, LLC'],
 ['JEROME M HINDS']]

Xiomara A. Uribe, Ecaterina M. Quintana. If you search their name up in data lake output/company_records.jsonl, it's very interesting. Their data is stored under OWNER_NAME when there's actually two owner names.

### Deeper Dive into Relationships

In [211]:
def slash_n_counts(df : pl.DataFrame, column):
    return df.select(
        pl.col(column).str.contains("\n").alias(f"has_n_{column}")
    ).group_by(f"has_n_{column}").len()

def filter_nulls(df : pl.DataFrame, column):
    return df.filter(
        pl.col(column).is_not_null()
    ).select(column)

In [212]:
businesses_graph_details.head()

shape: (5, 5)
┌─────────────────────────────┬──────────────────┬────────────────────┬────────┬──────┐
│ Commercial Registered Agent ┆ Registered Agent ┆ Owner Name         ┆ Owners ┆      │
│ ---                         ┆ ---              ┆ ---                ┆ ---    ┆ ---  │
│ str                         ┆ str              ┆ str                ┆ str    ┆ str  │
╞═════════════════════════════╪══════════════════╪════════════════════╪════════╪══════╡
│ COGENCY GLOBAL INC.         ┆ null             ┆ null               ┆ null   ┆ null │
│ 120 W SWEE…                 ┆                  ┆                    ┆        ┆      │
│ CORPORATION SERVICE COMPANY ┆ null             ┆ null               ┆ null   ┆ null │
│ 41…                         ┆                  ┆                    ┆        ┆      │
│ null                        ┆ KORTO C KOLLIE   ┆ null               ┆ null   ┆ null │
│                             ┆ 835 34TH AVE E … ┆                    ┆        ┆      │
│ null                        ┆ null             ┆ Xavier G Taylor    ┆ null   ┆ null │
│ null                        ┆ null             ┆ PATRICIA A ROGALLA ┆ null   ┆ null │
└─────────────────────────────┴──────────────────┴────────────────────┴────────┴──────┘

In [213]:
businesses_graph_details.columns

['Commercial Registered Agent', 'Registered Agent', 'Owner Name', 'Owners', '']

### Commercial Registered Agents

In [214]:
cra = filter_nulls(businesses_graph_details, "Commercial Registered Agent")
slash_n_counts(cra, "Commercial Registered Agent")

shape: (1, 2)
┌─────────────────────────────────┬─────┐
│ has_n_Commercial Registered Ag… ┆ len │
│ ---                             ┆ --- │
│ bool                            ┆ u32 │
╞═════════════════════════════════╪═════╡
│ true                            ┆ 103 │
└─────────────────────────────────┴─────┘

In [215]:
cra.to_numpy().tolist()[30:40]

[['Montgomery & Pender, P.C.\n5630 34TH AVE S\nSTE 120\nFARGO, ND  58104'],
 ['LEGALINC CORPORATE SERVICES INC.\n2905 JUDE LN NW\nMANDAN, ND  58554'],
 ['C T CORPORATION SYSTEM\n120 W SWEET AVE\nBISMARCK, ND  58504'],
 ['REGISTERED AGENT SOLUTIONS, INC.\n1709 N 19TH ST STE 3\nBISMARCK, ND  58501-2121'],
 ['CORPORATION SERVICE COMPANY\n418 N 2ND ST\nBISMARCK, ND  58501'],
 ['C T CORPORATION SYSTEM\n120 W SWEET AVE\nBISMARCK, ND  58504'],
 ['CORPORATION SERVICE COMPANY\n418 N 2ND ST\nBISMARCK, ND  58501'],
 ['CORPORATION SERVICE COMPANY\n418 N 2ND ST\nBISMARCK, ND  58501'],
 ['CORPORATION SERVICE COMPANY\n418 N 2ND ST\nBISMARCK, ND  58501'],
 ['NORTHWEST REGISTERED AGENT SERVICE, INC.\n3003 32ND AVE S STE 240\nFARGO, ND  58103-6118']]

### Registered Agents

In [ ]:
cra = filter_nulls(businesses_graph_details, "Registered Agent")
slash_n_counts(cra, "Registered Agent")

shape: (1, 2)
┌────────────────────────┬─────┐
│ has_n_Registered Agent ┆ len │
│ ---                    ┆ --- │
│ bool                   ┆ u32 │
╞════════════════════════╪═════╡
│ true                   ┆ 70  │
└────────────────────────┴─────┘

In [ ]:
cra.to_numpy().tolist()[60:70]

[['TAIT  SILTALA\n722 9TH AVE W\nWILLISTON, ND  58801'],
 ['CHRISTOPHER  PERLEBERG\n710 17TH ST NW\nJAMESTOWN, ND  58401-2241'],
 ['ANTHONY  BAUMGARTNER\n1292 56TH ST SE\nBRADDOCK, ND  58524-9244'],
 ['GREGORY C KRUTSINGER\n650 2ND AVE NW\nWEST FARGO, ND  58078'],
 ['TAIT  SILTALA\n722 9TH AVE W\nWILLISTON, ND  58801'],
 ['MIAN  HUSSAIN\n3017 31ST AVE W\nAPT 305B\nWILLISTON, ND  58801'],
 ['ERIC  CHRISTIANS\n3749 14TH ST W\nWEST FARGO, ND  58078'],
 ['DANNY  KRAFT\n325 7TH ST S\nSTE 100\nFARGO, ND  58103'],
 ['KENDALL  VETTER\n2341 BAYVIEW COURT SE\nMANDAN, ND  58554'],
 ['JARED  MILLER\n701 SUNFLOWER DR\nBISMARCK, ND  58503']]

### Owner Name

In [240]:
cra = filter_nulls(businesses_graph_details, "Owner Name")
slash_n_counts(cra, "Owner Name")

shape: (1, 2)
┌──────────────────┬─────┐
│ has_n_Owner Name ┆ len │
│ ---              ┆ --- │
│ bool             ┆ u32 │
╞══════════════════╪═════╡
│ false            ┆ 41  │
└──────────────────┴─────┘

In [245]:
cra.to_numpy().tolist()[10:20]

[['Xiomara A. Uribe, Ecaterina M. Quintana'],
 ['Scott A Kraft'],
 ['Travis c Toepke'],
 ['LIFE LINE TECHNOLOGIES, LLC'],
 ['KARLGAARD ENTERPRISES, LLC'],
 ['Dustin R Smith'],
 ['Christopher Tegwe'],
 ['MONEYDART GLOBAL SERVICES INC.'],
 ['XPT Partners, LLC'],
 ['JEROME M HINDS']]

### Owners

In [220]:
cra = filter_nulls(businesses_graph_details, "Owners")
slash_n_counts(cra, "Owners")

shape: (1, 2)
┌──────────────┬─────┐
│ has_n_Owners ┆ len │
│ ---          ┆ --- │
│ bool         ┆ u32 │
╞══════════════╪═════╡
│ true         ┆ 2   │
└──────────────┴─────┘

In [222]:
cra.to_numpy().tolist()

[['CRAIG NICHOLAS THOMAS\n8482 HIGHWAY 2\nDEVILS LAKE, ND 58301-8742'],
 ['Corey K Getzlaff\n14079 41ST ST NW\nALEXANDER, ND 58831-8719']]

### Owner

In [224]:
cra = filter_nulls(businesses_graph_details, "")
slash_n_counts(cra, "")

shape: (1, 2)
┌────────┬─────┐
│ has_n_ ┆ len │
│ ---    ┆ --- │
│ bool   ┆ u32 │
╞════════╪═════╡
│ true   ┆ 2   │
└────────┴─────┘

In [226]:
cra.to_numpy().tolist()

[['AMANDA KAY THOMAS\n8482 HIGHWAY 2\nDEVILS LAKE, ND 58301-8742'],
 ['Cindy J Getzlaff\n14079 41ST ST NW\nALEXANDER, ND 58831-8719']]

So far, Xiomara A. Uribe, Ecaterina M. Quintana appears to be the only data quality issue.

In [228]:
stacked.filter(
    pl.col("value") == "Xiomara A. Uribe, Ecaterina M. Quintana"
)

shape: (1, 1)
┌─────────────────────────────────┐
│ value                           │
│ ---                             │
│ str                             │
╞═════════════════════════════════╡
│ Xiomara A. Uribe, Ecaterina M.… │
└─────────────────────────────────┘

In [230]:
df.filter(
    pl.col("COMPANY_TITLE").str.to_lowercase() == "Xiomara A. Uribe, Ecaterina M. Quintana"
)

shape: (0, 16)
┌────────────┬───────────┬─────┬─────────────┬───┬────────┬─────────────┬─────────────┬────────────┐
│ SORT_INDEX ┆ TITLE     ┆ ID  ┆ FILING_DATE ┆ … ┆ ID_key ┆ DRAWER_DETA ┆ COMPANY_TIT ┆ COMPANY_TY │
│ ---        ┆ ---       ┆ --- ┆ ---         ┆   ┆ ---    ┆ IL_LIST     ┆ LE          ┆ PE         │
│ i64        ┆ list[str] ┆ i64 ┆ str         ┆   ┆ str    ┆ ---         ┆ ---         ┆ ---        │
│            ┆           ┆     ┆             ┆   ┆        ┆ list[struct ┆ str         ┆ str        │
│            ┆           ┆     ┆             ┆   ┆        ┆ [5]]        ┆             ┆            │
╞════════════╪═══════════╪═════╪═════════════╪═══╪════════╪═════════════╪═════════════╪════════════╡
└────────────┴───────────┴─────┴─────────────┴───┴────────┴─────────────┴─────────────┴────────────┘

Probably shouldn't take action until further questions. People can have identify themselves with two names after all.

In [233]:
businesses_expanded_details.filter(
    pl.col("Owner Name") == "Xiomara A. Uribe, Ecaterina M. Quintana"
)

shape: (1, 22)
┌────────────────┬─────────────┬────────┬────────────────┬───┬────────┬──────┬───────────┬─────────┐
│ TITLE          ┆ Filing Type ┆ Status ┆ Standing - AR  ┆ … ┆ Owners ┆      ┆ Delayed   ┆ Filing  │
│ ---            ┆ ---         ┆ ---    ┆ ---            ┆   ┆ ---    ┆ ---  ┆ Effective ┆ Subtype │
│ list[str]      ┆ str         ┆ str    ┆ str            ┆   ┆ str    ┆ str  ┆ Date      ┆ ---     │
│                ┆             ┆        ┆                ┆   ┆        ┆      ┆ ---       ┆ str     │
│                ┆             ┆        ┆                ┆   ┆        ┆      ┆ str       ┆         │
╞════════════════╪═════════════╪════════╪════════════════╪═══╪════════╪══════╪═══════════╪═════════╡
│ ["Xtravagant   ┆ Trade Name  ┆ Active ┆ null           ┆ … ┆ null   ┆ null ┆ null      ┆ null    │
│ Elegance",     ┆             ┆        ┆                ┆   ┆        ┆      ┆           ┆         │
│ "Trade…        ┆             ┆        ┆                ┆   ┆        ┆      ┆           ┆         │
└────────────────┴─────────────┴────────┴────────────────┴───┴────────┴──────┴───────────┴─────────┘

In [234]:
df.filter(
    pl.col("COMPANY_TITLE") == "Xtravagant Elegance"
)

shape: (1, 16)
┌────────────┬────────────┬────────┬────────────┬───┬────────┬────────────┬────────────┬───────────┐
│ SORT_INDEX ┆ TITLE      ┆ ID     ┆ FILING_DAT ┆ … ┆ ID_key ┆ DRAWER_DET ┆ COMPANY_TI ┆ COMPANY_T │
│ ---        ┆ ---        ┆ ---    ┆ E          ┆   ┆ ---    ┆ AIL_LIST   ┆ TLE        ┆ YPE       │
│ i64        ┆ list[str]  ┆ i64    ┆ ---        ┆   ┆ str    ┆ ---        ┆ ---        ┆ ---       │
│            ┆            ┆        ┆ str        ┆   ┆        ┆ list[struc ┆ str        ┆ str       │
│            ┆            ┆        ┆            ┆   ┆        ┆ t[5]]      ┆            ┆           │
╞════════════╪════════════╪════════╪════════════╪═══╪════════╪════════════╪════════════╪═══════════╡
│ 182        ┆ ["Xtravaga ┆ 333362 ┆ 04/05/2022 ┆ … ┆ 333362 ┆ [{"Filing  ┆ Xtravagant ┆ Trade     │
│            ┆ nt         ┆        ┆            ┆   ┆        ┆ Type","Tra ┆ Elegance   ┆ Name      │
│            ┆ Elegance", ┆        ┆            ┆   ┆        ┆ de         ┆            ┆           │
│            ┆ "Trade…    ┆        ┆            ┆   ┆        ┆ Name",n…   ┆            ┆           │
└────────────┴────────────┴────────┴────────────┴───┴────────┴────────────┴────────────┴───────────┘

Xiomara A. Uribe, Ecaterina M. Quintana is the Owner Nameof Xtravagant Elegance, SOS CONTROL ID# 5852807